/* COLORS */
.bg-blue {
    background-color: cadetblue;
}

.white {
    color: #f6f6f6;
}


div.flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
}

/* BUTTONS */
/* .flex a {
    transition: all .2s ease-in-out;
    
}
.flex a:hover {
    cursor: pointer;
    scale: 0.95;
    box-shadow: 2px 2px 1px #888888;
} */

.apps-icon:hover,
.flag:hover {
    cursor: pointer;
    scale: 0.95;
}

.avatar-img {
    border-radius: 50%;
}

.avatar-img:hover {
    cursor: pointer;
    /* transform: rotate(15deg) */
    animation: horizontal-shaking 0.35s infinite;
}

.flag {
    width: 38px;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
  }